<!-- h1>hello?</h1>
<p ng-repeat='country in countries'>Hole:{{country.hole}}| Par:{{country.par}}</p>
<p ng-repeat='player in players'>{{player.scores}}</p>
<h2>{{name}}</h2>

<div ng-repeat='movie in total =(movies)'>
  <p><b>Hole: {{movie.hole}}</b></p>
  <p>par: {{movie.par}}</p>
  <p>score: {{movie.score}}</p>
  <p>Points: {{movie.points}}</p>
</div>
<p>Total sum of points: {{total | sumOf:'points'}}</p> -->

<h3>Show players with points from another array</h3>

<div ng-repeat='ones in one'>
	<p>{{ones.name}} | {{ones.points}}</p>
</div>

