<!-- h1>hello?</h1>
<p ng-repeat='country in countries'>Hole:{{country.hole}}| Par:{{country.par}}</p>
<p ng-repeat='player in players'>{{player.scores}}</p>
<h2>{{name}}</h2>

<div ng-repeat='movie in total =(movies)'>
  <p><b>Hole: {{movie.hole}}</b></p>
  <p>par: {{movie.par}}</p>
  <p>score: {{movie.score}}</p>
  <p>Points: {{movie.points}}</p>
</div>
<p>Total sum of points: {{total | sumOf:'points'}}</p> -->

<!-- <h3>Show players with points from another array</h3> -->
<!-- <h5 ng-repeat='something in list'>
	{{something.name}} | {{something.points}}
	<button ng-click='remove($index)'>Remove</button>
</h5>
<button ng-click='save()'>Save</button> -->
<!-- <div>
	<li ng-repeat='player in one'>{{player.name}}
	<button ng-click='addPlayer(player)'>Add</button></li>
</div>
<div ng-repeat='something in list'>
	{{something.name}} | {{something.points}}
	<button ng-click='remove($index)'>Remove</button>
</div>
<button ng-click='save(list)'>Save</button>
 -->
 <h3>Team</h3>
 <div ng-repeat='team in teams'>
 	{{team.name}} | {{team.points}}
 	<button ng-click='removePlayer(team)'>Remove</button>
 </div>
 <br>
 <div ng-repeat='d in something'>
 	{{d.Name}} | {{d.Points}} | {{d.rank}}
 </div>
 <br>
<!-- <div ng-repeat='player in players'>
	  {{player.Name}} | {{player.Points}}
	<button ng-click='addPlayer(player)'>Add Player</button>
</div> -->