<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div ng-controller='StandingsCtrl as standings'>
    
    <h3>Teams</h3>
<!-- 
    <div ng-repeat='t in teams'>
      <h4>{{t.$id}}</h4>
      <div ng-repeat='s in t '>
        {{s.player}} | {{s.points}}
      </div>
    </div>
     -->
     <div ng-repeat='s in something'>
       <h4>{{s.ranking}} | {{s.$id}}</h4>
     
     <div ng-repeat='t in teams | orderBy:"-points"'>
       {{t.name}} | {{t.points}} | {{t.total}}
     </div>
     </div>
    <div>
      <h3>Leaderboard</h3>
      <ul>
        <li ng-repeat='player in players' style='list-style-type:none;'>
          {{player.Rank}} | {{player.Name}} | {{player.Points}}
        </li>
      </ul>
    </div>
  </div>
</div>