<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <div ng-controller='StandingsCtrl as standings'>
   <div>
   <h4 ng-click='toggle = !toggle'>MyTeam</h4>
     <table ng-show='toggle'>
       <tr>
         <th>Name</th>
         <th>Points</th>
       </tr>
       <tr ng-repeat='team in standings.teams | orderBy:"-points"'>
         <td>{{team.name}}</td>
         <td>{{team.points}}</td>
       </tr>
     </table>
   </div>

    <div>
      <h3>Leaderboard</h3>
      <ul>
        <li ng-repeat='player in standings.players | orderBy:"-Points"'>
          {{player.Name}} | {{player.Points}}
        </li>
      </ul>
    </div>

    
     