<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <div ng-controller='StandingsCtrl as standings'>
    <div>
      <h3>Leaderboard</h3>
      <ul>
        <li ng-repeat='player in standings.players | orderBy:"-Points"'>
          {{player.Name}} | {{player.Points}}
        </li>
      </ul>
    </div>

    <div>
      <h3 ng-click='toggle = !toggle' >Teams</h3>
      <table ng-show='toggle'>
      <th>Total: {{resultValue | sumOfValue:'points'}}</th>  
        <tr >
          <th>Name</th>
          <th>Points</th>
        </tr>
        <tr ng-repeat='team in resultValue = (standings.teams) | orderBy:"-points"' >
          <td>{{team.name}}</td>
          <td>{{team.points}}</td> 
        </tr>
      </table> 

     