<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div ng-controller='SearchCtrl as search'>
    <ul id='players'>
      <h4>Players</h4>
      <li ng-repeat='player in search.players' style='list-style-type:none'>
        {{player.Name}}
        <button ng-click='search.addPlayer(search.players[$index])' class='btn btn-success'>Add Player</button>
      </li>
    </ul>

    <ul id='team'>
      <h4>Team</h4>
      <li ng-repeat='(id, team) in search.teams' style='list-style-type:none'>
        {{team.name}}
        <button ng-click='search.removePlayer(id)' class='btn btn-danger'>Remove Player</button>
      </li>
    </ul>
  </div>
</div>
