<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div ng-controller='SearchCtrl as search'>

   <div class='team'>
      <h3>Team</h3>
      <p ng-repeat='t in team | orderBy:"Rank"'>{{t.Rank}} | {{t.$id}} <button class='btn pull-right' ng-click='remove(t)'>X</button></p>
    </div>

    <ul class='nav nav-pills'>
      <li ng-class='{active:search.isSet(1)}'><a href ng-click='search.setTab(1)'>A Players</a></li>
      <li ng-class='{active:search.isSet(2)}'><a href ng-click='search.setTab(2)'>B Players</a></li>
      <li ng-class='{active:search.isSet(3)}'><a href ng-click='search.setTab(3)'>C Players</a></li>
    </ul>

    <div class='players'>
      <ul>
        <div class='aPlayers' ng-show='search.isSet(1)'>
          <h3>A Players</h3>
          <li ng-repeat='p in aPlayers | orderBy:-p'>{{p}} <button class='btn pull-right' ng-click='aPlayersAdd(p)'>Add Player</button></li>
        </div>

        <div class='bPlayers' ng-show='search.isSet(2)'>
          <h3>B Players</h3>
          <li ng-repeat='p in bPlayers | orderBy:-p'>{{p}} <button class='btn pull-right' ng-click='bPlayersAdd(p)'>Add Player</button></li>
        </div>

        <div class='cPlayers' ng-show='search.isSet(3)'>
          <h3>C Players</h3>
          <li ng-repeat='p in cPlayers | orderBy:-p'>{{p}} <button class='btn pull-right' ng-click='cPlayersAdd(p)'>Add Player</button></li>
        </div>
      </ul>

    </div>

  </div> <!--End controller -->
