<div class='container'>
  <div ng-include="'components/navbar/navbar.html'"></div>

  <div ng-controller='SearchCtrl as search'>
  <div>
    <h4>Team</h4>
    <ol>
      <li ng-repeat='team in teams'>
      {{teams}}
        {{team.name}} 
        <button>Remove player</button>
      </li>
    </ol>
  </div>
    <div>
      <h4>Players</h4>
      <ul>
        <li ng-repeat='p in players'>
          {{p.Name}} &nbsp;
          <button ng-click='add(players[$index])'>Add Player</button>
        </li>
      </ul>
    </div>
  </div>